@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Regular.ttf);
}


.relative {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    background-color: #00E4FF;
    overflow: hidden;
}

.corner-title {
    position: absolute;
    width: 320px;
    height: 250px;
    top: 0;
    right: 0;
    background: #00e4ff;
    text-align: right;
    color: #FFFFFF;
    z-index: 100;
}
.corner-title h1 {
    font: 40px Raleway-Bold;
    text-transform: uppercase;
    padding: 40px 32px 0 0;
}
.corner-title .title-content {
    padding: 0 32px 32px 32px;
    font: 14px Raleway-Regular;
}

.center {
    text-align: center;
}

.graphic {
    position: relative;
    height: 28px;
    width: 100%;
    border: 1px solid #FFFFFF;
    background: rgba(255, 255, 255, .1);
}
.graphic .graphic-text, .graphic .fill-percent{
    font: 14px Raleway-Regular;
    color: #FFFFFF;

}
.graphic .graphic-text {
    position: absolute;
    top: 7px;
    left: 14px;
    z-index: 10;
}
.graphic .fill-lavel {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    z-index: 5;
    background: url("../img/about/loading.png") repeat-x;
}
.graphic .fill-percent {
    position: absolute;
    top: 7px;
    right: 14px;
    z-index: 10;
}


/* Home */
#home {
    text-align: center;
    background: url("../img/home/bg.jpg") no-repeat center;
    background-size: cover;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    color: #ffffff;
}
#home.closed {
    left: 0;
    width: 100%;
}

.logo {
    padding-top: 135px;
}

#home h1 {
    display: inline-block;
    width: 80%;
    padding-top: 20px;
    font: 45px Raleway-Light;
}

#home h4 {
    position: fixed;
    display: inline-block;
    font: 12px Helvetica;
    bottom: 40px;
    right: 35px;
    z-index: 500;
}

.btn {
    margin-top: 25px;
    background-color: rgba(255, 255, 255,.1);
    border: 2px solid #ffffff;

    -webkit-border-radius:2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;

    width: 218px;
    height: 64px;

    font: 18px Raleway-Medium;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.btn:hover {
    background-color: rgba(255, 255, 255,.5);
}
.btn:active {
    background-color: rgba(255, 255, 255,.7);
}


/* Menu button */
#menu-btn {
    position: fixed;
    left: 22px;
    top: 22px;
    display: inline-block;
    width: 39px;
    height: 29px;
    background-color: #00e4ff;
    z-index: 501;
    padding-top: 10px;
    cursor: pointer;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#menu-btn>div {
    width: 21px;
    height: 3px;
    background-color: #FFFFFF;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 4px auto 0 auto;
}
#menu-btn>div:first-child {
    margin-top: 0;
}
#menu-btn.menu-btn-active {
    background-color: #FFFFFF;
}
#menu-btn.menu-btn-active div {
    background-color: #00E4FF;
}






/* Right menu (Navigation) */
#nav-menu {
    position: fixed;
    top: 290px;
    right: 35px;
    font: 14px Raleway-Medium;
    z-index: 500;
}
#nav-menu li {
    width: 9px;
    height: 9px;
    border: 1px solid #00e4ff;

    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 7px;
}
#nav-menu .nav-active {
    background-color: #00E4FF;
    cursor: default;
}
.title>div:first-child {
    position: absolute;
    right: 25px;
    top: -9px;

    display: inline-block;
    height: 23px;
    padding: 7px 10px 0 10px;
    background-color: #00e4ff;
    color: #FFFFFF;
    font: 14px Raleway-Medium;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: uppercase;
    white-space: nowrap;
}
.title>div:last-child {
    position: absolute;
    right: 20px;
    top: 0;

    display: inline-block;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left-color: #00e4ff;
    border-right: none;
}





/* Left Menu (aside) */
#left-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background-color: #00e4ff;
    font: 16px Raleway-Medium;
    color: #FFFFFF;
    z-index: 300;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
#left-menu.closed {
    left: -490px;
}
.left-menu-wrap {
    padding-left: 20px;
}
#left-menu ul {
    padding: 105px 0 0 0;
    text-transform: uppercase;
}
#left-menu li {
    padding: 9px 18px;
    margin-top: 30px;
    cursor: pointer;
    letter-spacing: 2px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border: 1px solid #00E4FF;
    border-radius: 3px;
}
#left-menu li:first-child {
    margin-top: 0;
}
#left-menu li:hover {
    border: 1px solid #FFFFFF;
}
#left-menu li.left-active {
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;

    color: #00e4ff;
    cursor: default;
}
#left-menu hr, .right-side hr {
    border: 0;
    height: 1px;
    background: #FFFFFF;
    margin: 38px 0;
}
.left-menu-wrap>h3 {
    padding-left: 18px;
}
.left-menu-wrap .social {
    padding-left: 18px;
    margin-top: 40px;
}
.social h3{
    margin-bottom: 14px;
}
#left-menu .triangel {
    position: absolute;
    top: 0;
    right: -60px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1200px 60px 0 0;
    border-color: #00e4ff transparent transparent transparent;
}
#left-menu .close, .right-side .close {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 27px;
    right: -35px;
    background: url("../img/aside/x-icon.png") no-repeat;
    cursor: pointer;
    z-index: 100;
}




/* Loading */
#shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 400;
}
.pogress-bar {
    position: absolute;
    left: 0;
    top: 0;
    height: 5px;
    width: 0;
    background-color: #00E4FF;
    z-index: 401;
}
.percents {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    font: 100px Raleway-Medium;
    color: #00e4ff;
}




/* Portfolio */
#portfolio {

}
.prt-1-1 {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 33.33333%;
    background-color: #00e4ff;
    cursor: pointer;
}
.prt-2-1 {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 33.33333%;
    background-color: #00e4ff;
    cursor: pointer;
}
.prt-1-2 {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 66.66666%;
    background-color: #00e4ff;
    cursor: pointer;
}
.tooltip {
    display: none;
    background-color: rgba(0, 228, 255, .8);
    z-index: 100;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-family: Raleway-Medium;
}
.tooltip h1 {
    font-size: 30px;
    padding: 40px 20px 0 20px;
}
.tooltip p {
    font-size: 15px;
    padding: 20px 20px 20px 20px;
}
#plate img {
    position: absolute;
}
.pos-left-0 {
    left: 0;
}
.pos-left-25 {
    left: 25%;
}
.pos-left-50 {
    left: 50%;
}
.pos-left-75 {
    left: 75%;
}
.pos-top-0 {
    top: 0;
}
.pos-top-33 {
    top: 33.333%;
}
.pos-top-66 {
    top: 66.666%;
}
.prt-menu {
    text-align: right;
    padding: 20px 20px 0 0;
}
.prt-on-top {
    z-index: 200;
    cursor: default;
}
.prt-menu h1 {
    font: 40px Raleway-Bold;
    color: #FFFFFF;
    padding-bottom: 8px;
}
.prt-filter>button, .prt-back-next>button {
    font: 14px Raleway-Medium;
    background: #00e4ff;
    border: 1px solid #FFFFFF;
    border-radius: 1px;
    color: #FFFFFF;
    padding: 5px 12px;
    cursor: pointer;
    outline: none;
}
.prt-menu button:hover {
    background: #FFFFFF;
    color: #00e4ff;
}
.prt-menu .prt-menu-btn-active {
    background: #FFFFFF;
    color: #00e4ff;
    cursor: default;
}
.prt-back-next {
    margin-top: 55px;
}
#prt-second {
    position: absolute;
    background: #00E4FF;
    top: 0;
    left: 0;
    z-index: 100;
}






/* Portfolio Post Example */
#gallery-post-example {
    display: none;
    background: #662266;
}
.right-side {
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    top: 0;
    background-color: rgba(0, 228, 255, .9);
    color: #FFFFFF;
    z-index: 50;
}
.right-side h1 {
    font: 30px Raleway-Regular;
    padding: 70px 82px 24px 44px;
}
.right-side p {
    font: 14px Raleway-Regular;
    line-height: 23px;
    padding: 0 82px 17px 44px;
}
.post-triangel {
    position: absolute;
    top: 0;
    left: -45px;

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 600px 45px;
    border-color: transparent transparent rgba(0, 228, 255, .9) transparent;
}
.right-side .close {
    right: 35px;
}
.right-side hr {
    margin: 0 82px 0 44px;
}

.post-img {
    padding: 10px 82px 20px 44px;
}
.post-img>div {
    display: inline-block;
    width: 75px;
    height: 45px;
    border: 1px solid #FFFFFF;
    margin: 0 10px 8px 0;
}
.post-img .shadow {
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
    transition-duration: 0.3s;
    cursor: pointer;
}
.post-img .shadow:hover {
    opacity: 0;
}
.right-side .social {
    padding: 22px 82px 0 44px;
}




/* Services */
#services {
    background: url("../img/services/serv-background.jpg") no-repeat center;
    background-size: cover;
    color: #FFFFFF;
}
.serv-content {
    padding: 300px 0 35px 35px;
}
.serv-content>div {
    display: inline-block;
    width: 30%;
    border-right: 1px solid #FFFFFF;
    vertical-align: top;
    /*float: left;*/
}
#services .serv-content>div:last-child {
    border-right: none;
}
.serv-content>div>* {
    padding: 0 35px;
}
.serv-content h1 {
    font: 30px Raleway-Regular;
}
.serv-content p {
    font: 14px Raleway-Regular;
}




/* About me */
#about-me {
    background: url("../img/about/about-background.jpg") no-repeat center;
    background-size: cover;
}
.about-me-content {
    width: 450px;
    color: #FFFFFF;
    padding: 100px 0 0 100px;
}
.about-me-content h1 {
    font: 30px Raleway-Regular;
    margin-bottom: 25px;
}
.about-me-content p {
    font: 14px Raleway-Regular;
    margin-bottom: 20px;
}
.skills {
    font: 14px Raleway-Regular;
    text-transform: uppercase;
    padding: 10px 0 20px 0;
}
.skills div {
    display: inline-block;
    width: 85%;
    float: right;
}
.skills hr {
    border: 0;
    height: 1px;
    background: #FFFFFF;
}
#about-me .graphic {
    margin-bottom: 10px;
}

/* Contact */
#contact {
    position: relative;
}
#contact .title-content {
    padding-top: 32px;
}
#contact .title-content>div {
    padding: 4px 30px 4px 0;
}
.title-content .location {
    background: url("../img/contact/location.png") no-repeat 100% 50%;
}
.title-content .phone {
    background: url("../img/contact/phone.png") no-repeat 100% 50%;
}
.title-content .email {
    background: url("../img/contact/mail.png") no-repeat 100% 50%;
}
#contact iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#contact .map-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 2;
}
#contact form {
    width: 600px;
    padding: 150px 0 0 100px;
}
#contact form p {
    font: 14px Raleway-Regular;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0,0,0, .75);
    margin-bottom: 20px;
}
#contact form input[type='text'] {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    box-shadow: 0 1px rgba(0,0,0, .75);
    padding-left: 15px;
    font: 14px Raleway-Regular;
}
#contact form textarea {
    width: 100%;
    height: 140px;
    border: none;
    outline: none;
    resize: none;
    box-shadow: 0 1px rgba(0,0,0, .75);
    padding: 15px 0 0 15px;
    font: 14px Raleway-Regular;
}
